<header>
    <div class="header-container">
    <!-- menu-->
    <div>
    <ul class="header-item">
    <li>
    <a>
    <i class="fa-solid fa-house-chimney"></i>
    </a>
    <span class="alojate">Alójate</span>
    </li>
    </ul>
    </div>
    <div>
    <ul class="header-item">
    <li>
    <a class="lupa" href=""><i class="fa-solid fa-magnifying-glass"></i></a>    
    <i class="fas fa-bars icon"></i>
    </li>
    </ul>
    </div>
    </div>
    <hr class="separador">
    <section>
        <div>
            <ul class="lista">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Booking</a>
                </li>
                <li>
                    <a href="#">House</a>
                </li>
                <li>
                    <a href="#">Pages</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="estancias">
            <h1>ESTANCIAS</h1>
            <h2>MAS DETALLES</h2>
        </div>
    </section>
    </header>
