<section class="deberias">
    <h1>QUE DEBERIAS SABER</h1>
    <div class="cards">
        <div class="card-1">
            <h3>REGLAS DE LA CASA</h3>
            <p>LLEGADA A PARTIR DE LAS 3:00PM.</p>
            <p>SALIDA ANTES DE LA 1:00PM.</p>
            <p>PET FRIENDLY.</p>
            <a href="#">SABER MÁS></a>
        </div>
        <div class="card-1">
            <h3>SEGURIDAD Y PROPIEDAD</h3>
            <p>NO HAY ALARMA DE HUMO.</p>
            <p>ALBERCA/JACUZZI SIN REJA NI PUERTA CON LLAVE.</p>
            <p>NO SE REQUIERE DETECTOR DE MONÓXIDO DE CARBONO.</p>
            <a href="#">SABER MÁS></a>
        </div>
        <div class="card-1">
            <h3>POLÍTICA DE CANCELACIÓN</h3>
            <p>SI CANCELAS ANTES DE LA FECHA DE LLEGADA (5 ENE.) RECIBIRAS UN REMBOLSO PARCIAL.</p>
            <p>PASANDO ESE PLAZO, TU REEMBOLSO DEPENDERÁ DE CUÁNDO CANCELES.</p>
            <a href="#">SABER MÁS></a>
        </div>
    </div>
</section>

<section id="section">
    <div class="inspiracion">
        <div>
            <h1>INSPIRACIÓN PARA FUTURAS ESCAPADAS</h1>
            <p>SIGUE DESCUBRIENDO LA CATEGORIA DE LAS CABAÑAS</p>
        </div>
        <div>
            <button class="boton">CONTÁCTANOS</button>
        </div>
    </div>
</section>
