<section id="section">
    <div class="inspiracion">
        <div class="insp1">
            <h1>ALOJAMIENTO ENTERO</h1>
            <p>CASA DE CAMPO EN TEPOZTLÁN, MÉXICO</p>
        </div>
        <div class="insp2">
            <h1>MÁS DE 16 HUÉSPEDES</h1>
            <p><i class="fa-solid fa-bed"> 6 HABITACIONES</i></p>
            <p><i class="fa-solid fa-shower"> 6 BAÑOS</i></p>
        </div>
        <div class="insp3">
            <h1>ANFITRIÓN</h1>
            <P>DIEGO</P>
            <P>2 AÑOS DE EXPERIENCIA</P>
        </div>
    </div>
</section>


<section>
    <section class="estancia">
        <h1 class="titles">ESTANCIAS</h1>
        <div class="estancia-cards">
            <div class="cards">
                <img src="/ESTANCIA 1.png" class="img">
                <h3>ADOSADO COLORIDO</h3>
                <p>DESCANSAR Y RETIRASE UN UNA CASA CON LA MEJOR COMUNIDAD</p>
            </div>
            <div class="cards">
                <img src="ESTANCIA 2.png" class="img">
                <h3>PLAZA BONANZA</h3>
                <p>MIRA EL OCÉANO, ESCUCHA LAS OLAS Y DISFRUTA DEL MAR</p>
            </div>
            <div class="cards">
                <img src="ESTANCIA 3.png" class="img">
                <h3>SANTUARIO ANTIGUO</h3>
                <p>ENCUENTRA LA CASA DE TUS SUEÑOS CERCA DEL COLEGIO Y DE TU OFICINA</p>
            </div>
        </div>
    </section>
</section>
